html {
  font-family: sans-serif;
  line-height: 1.37;
  padding: 0;
}

body {
  margin: 0;
  padding: 1rem;
}

a[href] {
  text-decoration: none;
}

a[href]:hover {
  text-decoration: underline;
}

#logoutForm {
  border: none;
  display: inline-block;
  margin: 0;
  padding: 0;
}

button, .button {
  background: white;
  border: 1px solid black;
  border-radius: 1ex;
  color: black;
  cursor: pointer;
  display: inline-block;
  font-size: 100%;
  padding: 1ex;
}
