html {
  font-family: sans-serif;
  line-height: 1.37;
  padding: 0;
}

body {
  margin: 0;
  padding: 1rem;
}

a[href] {
  text-decoration: none;
}

a[href]:hover {
  text-decoration: underline;
}

#logoutForm {
  border: none;
  display: inline-block;
  margin: 0;
  padding: 0;
}

button, .button {
  background: white;
  border: 1px solid black;
  border-radius: 1ex;
  color: black;
  cursor: pointer;
  display: inline-block;
  font-size: 100%;
  padding: 1ex;
}

.badges {
  list-style-type: none;
  margin: 0;
  padding: 0;
  user-select: none;
}

.badges li {
  display: inline-block;
  margin: 0 0.5rem;
}

.badges li:first-of-type {
  margin-left: 0;
}

.badges li:last-of-type {
  margin-right: 0;
}

.badge, .logo {
  height: 1.5rem;
  user-select: none;
  width: 1.5rem;
}

a[href] .logo {
  display: inline;
  margin-right: 0.5ex;
  vertical-align: bottom;
}
